@attribute [Authorize]
@page "/CreationPatient"
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Text.Json
@using System.Net
@using VModel


<h3>Créer un patient</h3>

<form onsubmit="@CreatePatient" @onsubmit:preventDefault="true">
    <div class="form-group">
        <label for="Prenom">Prénom</label>
        <input type="text" id="Prenom" class="form-control" @bind="@newPatient.Prenom" required title="Le prénom est obligatoire"/>
    </div>

    <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" id="Nom" class="form-control" @bind="@newPatient.Nom" required title="Le nom est obligatoire" />
    </div>

    <div class="form-group">
        <label for="DateNaissance">Date de Naissance</label>
        <input type="date" id="DateNaissance" class="form-control" @bind="@newPatient.DateNaissance" required title="La date de naissance est obligatoire" />
    </div>

    <div class="form-group">
        <label for="Genre">Genre</label>
        <select type="text" id="Genre" class="form-control" @bind="@newPatient.Genre" required title="Le genre (M ou F) est obligatoire">
            <option value="">Sélectionnez le genre</option>
            <option value="M">Masculin</option>
            <option value="F">Feminin</option>
        </select>
    </div>

    <div class="form-group">
        <label for="AdressePostale">Adresse Postale</label>
        <input type="text" id="AdressePostale" class="form-control" @bind="@newPatient.AdressePostale" />
    </div>

    <div class="form-group">
        <label for="Telephone">Téléphone</label>
        <input type="text" id="Telephone" class="form-control" @bind="@newPatient.Telephone" />
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
</form>

@code {
    private PatientVM newPatient = new PatientVM();
    private string? errorMessage;

    private async Task CreatePatient()
    {
        try
        {
            /* using var handler = new HttpClientHandler();
             handler.ClientCertificateOptions = ClientCertificateOption.Manual;
             handler.ServerCertificateCustomValidationCallback = (httpRequestMessage, cert, cetChain, policyErrors) =>
             {
                 return true;
             };
             using var client = new HttpClient(handler);*/

            //  var response = await client.PostAsJsonAsync<PatientVM>("http://ApiGateway:5010/API/patient-back/", newPatient);
            Console.WriteLine("JE PASSE ENC");
            var response = await HttpClient.PostAsJsonAsync<PatientVM>("http://ApiGateway:5010/API/patient-back/", newPatient);
            Console.WriteLine("JE PASSE toujours");

            if (response.StatusCode == HttpStatusCode.OK)
            {
                NavigationManager.NavigateTo("/ListePatients");
            }
            else
            {
                // Gérer l'erreur de création du patient
                errorMessage = "Une erreur s'est produite lors de la création du patient : " + response.ReasonPhrase;
            }
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Une erreur s'est produite lors de la mise à jour du patient : " + ex.Message + "\n" + ex.StackTrace;
        }
    }
}