@attribute [Authorize]
@page "/DetailPatient/{id}"
@inject HttpClient HttpClient
@using System.Text.Json
@using System.Net
@using System.Text
@using System.Collections
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using VModel
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>Detail du patient</h3>
<p>Le risque de diabète est: </p>

@if (patient != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Détail</th>
                <th>Valeurs</th>
                <th>Valeurs à modifier</th>
            </tr>
        </thead>
        <tbody class="no-border-table">
            <tr>
                <td>Prénom</td>
                <td>@patient.Prenom</td>
                <td><input type="text" @bind="@patient.Prenom" required title="Le prénom est obligatoire" /></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>@patient.Nom</td>
                <td><input type="text" @bind="@patient.Nom" required title="Le nom est obligatoire" /></td>
            </tr>
            <tr>
                <td>Date de Naissance</td>
                <td>@patient.DateNaissance.ToShortDateString()</td>
                <td><input type="date" @bind="@patient.DateNaissance" required title="La date de naissance obligatoire" /></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>@patient.Genre</td>
                <select type="text" id="Genre" class="form-control" @bind="@patient.Genre" required title="Le genre (M ou F) est obligatoire">
                    <option value="">Sélectionnez le genre</option>
                    <option value="M">Masculin</option>
                    <option value="F">Feminin</option>
                </select>
            </tr>
            <tr>
                <td>Adresse</td>
                <td>@patient.AdressePostale</td>
                <td><input type="text" @bind="@patient.AdressePostale" /></td>
            </tr>
            <tr>
                <td>Téléphone</td>
                <td>@patient.Telephone</td>
                <td><input type="text" @bind="@patient.Telephone" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button @onclick="MiseAJourPatient">Mettre à jour</button></td>
            </tr>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <tr>
                    <td>@errorMessage</td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Notes sur le patient:</h3>
    <div>
        <table class="table">
            <tbody class="no-border-table">
                @foreach (var noteDuPatient in notesDuPatient)
                {
                    <tr>
                        <td>@noteDuPatient.note</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@($"CreationNote/{patient.Id}")" class="btn btn-primary">Ajout d'une Note</a>
    </div>
}
else
{
    <p>
        Chargement du détail du patient
        @errorMessage
    </p>
}

@code {
    [Parameter]
    public string id { get; set; }

    public PatientVM? patient;
    private string? errorMessage;
    public List<NoteVM>? notesDuPatient;
    public string risqueDiabete = "none";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var handler = new HttpClientHandler();
            handler.ClientCertificateOptions = ClientCertificateOption.Manual;
            handler.ServerCertificateCustomValidationCallback = (httpRequestMessage, cert, cetChain, policyErrors) =>
            {
                return true;
            };
            using var client = new HttpClient(handler);

            var patientId = int.Parse(id);
            patient = await client.GetFromJsonAsync<PatientVM>($"https://ApiGateway:5011/API/patient-back/{patientId}");
            notesDuPatient = await client.GetFromJsonAsync<List<NoteVM>>($"https://ApiGateway:5011/API/gestiondesnotes-back/{patientId}");
            calculRisqueDiabete(patient, notesDuPatient);
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Une erreur s'est produite lors de la récupération des patients : " + ex.Message + "\n" + ex.StackTrace;
        }
    }

    private string calculRisqueDiabete(PatientVM patientVM, IList<NoteVM> notesDuPatient)
    {
        string risqueDiabete = "none";

        bool isMoins30Ans = patientVM.DateNaissance.AddYears(30) > DateTime.Now;
        Char sexPatient = patientVM.Genre;


        int nombreDeclencheurs = CalculNombreDeclencheurs(notesDuPatient);

        return risqueDiabete;
    }

    private int CalculNombreDeclencheurs(IList<NoteVM> notesDuPatient)
    {
        int nombreDeclencheurs=0;
        IList<Regex> facteursDeclencheur = new List<Regex>()
        {
            new Regex(@"H[éèe]moglobine A1C", RegexOptions.IgnoreCase),
            new Regex(@"cholest[eéè]rol", RegexOptions.IgnoreCase)
            //A finir
        };

        foreach (var regex in facteursDeclencheur)
        {
            bool isFacteurPresent = notesDuPatient.Any(note => regex.IsMatch(note.note));
            if (isFacteurPresent)
            {
                nombreDeclencheurs++;
            }
        }
        return nombreDeclencheurs;
    }

    private async Task MiseAJourPatient()
    {
        try
        {
            var validationResults = new PatientVMValidation(patient).Validate();

            if (validationResults.Any())
            {
                errorMessage = "";
                foreach (var error in validationResults)
                {
                    errorMessage += $"{error.ErrorMessage}";
                }
                return;
            }

            using var handler = new HttpClientHandler();
            handler.ClientCertificateOptions = ClientCertificateOption.Manual;
            handler.ServerCertificateCustomValidationCallback = (httpRequestMessage, cert, cetChain, policyErrors) =>
            {
                return true;
            };
            using var client = new HttpClient(handler);

            var patientId = int.Parse(id);

            var jsonContent = new StringContent(JsonSerializer.Serialize(patient), Encoding.UTF8, "application/json");
            var response = await client.PutAsync($"https://ApiGateway:5011/API/patient-back/{patientId}", jsonContent);

            if (response.StatusCode == HttpStatusCode.OK)
            {
                // Mise à jour réussie
                errorMessage = "Mise à jour réussie";
                NavigationManager.NavigateTo($"DetailPatient/{patient.Id}");
            }
            else
            {
                errorMessage = "Une erreur s'est produite lors de la mise à jour du patient : " + response.ReasonPhrase;
            }
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Une erreur s'est produite lors de la mise à jour du patient : " + ex.Message + "\n" + ex.StackTrace;
        }
    }

    public class PatientVMValidation
    {
        private readonly PatientVM _patientVM;

        public PatientVMValidation(PatientVM patientVM)
        {
            _patientVM = patientVM;
        }
        public IEnumerable<ValidationResult> Validate()
        {
            if (string.IsNullOrEmpty(_patientVM.Nom))
            {
                yield return new ValidationResult("Le nom est obligatoire.", new[] { nameof(PatientVM.Nom) });
            }

            if (string.IsNullOrEmpty(_patientVM.Prenom))
            {
                yield return new ValidationResult("Le prénom est obligatoire.", new[] { nameof(PatientVM.Prenom) });
            }
        }
    }
}