@attribute [Authorize]
@page "/ListePatients"
@inject HttpClient HttpClient
@inject IAuthenticationService AuthenticationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Text.Json
@using System.Net
@using VModel

<div class="d-flex justify-content-between">
    <h3>Liste des patients</h3>
    <NavLink href="CreationPatient" class="btn btn-primary ml-auto">Ajouter un patient</NavLink>
</div>

@if (listePatients != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Genre(M/F)</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Détails</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in listePatients)
            {
                <tr>
                    <td>@patient.Prenom</td>
                    <td>@patient.Nom</td>
                    <td>@patient.DateNaissance.ToShortDateString()</td>
                    <td>@patient.Genre</td>
                    <td>@patient.AdressePostale</td>
                    <td>@patient.Telephone</td>
                    <td><a href="@($"DetailPatient/{patient.Id}")">Détail du patient</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><tr>Aucun patient trouvé.</tr>
        @errorMessage
    </p>
}


@code {
    public  List<PatientVM>? listePatients;
    private string? errorMessage;
  //  private string authCookie;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var handler = new HttpClientHandler();
            handler.ClientCertificateOptions = ClientCertificateOption.Manual;
            handler.ServerCertificateCustomValidationCallback = (httpRequestMessage, cert, cetChain, policyErrors) =>
            {
                return true;
            };
            using var client = new HttpClient(handler);

          /*  var context = HttpContextAccessor.HttpContext;
            authCookie = AuthenticationService.GetAuthenticationCookie(context);
            // Inclure la cookie dans les en-têtes de la requête
            client.DefaultRequestHeaders.Add("Cookie", authCookie);*/

            listePatients = await client.GetFromJsonAsync<List<PatientVM>>("https://ApiGateway:5011/API/patient-back/");
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Une erreur s'est produite lors de la récupération des patients : " + ex.Message+"\n"+ex.StackTrace;
        }
    }  
}